
ion-img{
    height: 60%;
    width: 60%;
    margin: 0em 2em 2em 4.5em;
}

#reg{
    background-color: rgba(237, 152, 166, 0.521);
}

#bw{
    background-color: rgba(255, 239, 9, 0.521);
}

#brown{
    background-color: rgba(220, 194, 240, 0.547);
}