ion-fab {
    display: flex;
    flex-direction: row;
  }

ion-fab-button{

    margin-bottom: 10em;
}
#dog{

    margin-top: 1em;
}

#name{
    font-size: 1.5em;
    width: 10%;
    text-align: center;
    background-color: rgba(160, 191, 220, 0.326);
    margin-top: 3em;
}

ion-list{

    text-align: center;
}

ion-title{
    text-align: center;
}