<video id="htvideo" #htvideo name="htvideo" class="videobox" autoplay="autoplay"></video>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">FetchyFriend</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img
    src="../assets/reg_happy.png"
    alt="dog face">
  </ion-img>

  <ion-fab>
    <!-- Takes us to /selection -->
    <ion-fab-button routerLink="/selection" color = "tertiary">
      <ion-icon name="play"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
